CoreAlgoritm/.cache
CoreAlgoritm/build
TasksAlgoritm/.cache
TasksAlgoritm/build
CoreAlgoritm/compile_commands.json
TasksAlgoritm/compile_commands.json
AdamAlgoritm/compile_commands.json
AdamAlgoritm/build
AdamAlgoritm/.cache
Proxy/.cache 
Proxy/build 
Proxy/compile_commands.json
scripts
release/*.rl 
release/*.so
